*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Atkinson Hyperlegible Mono", serif;
    font-optical-sizing: auto;
 
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

header{
    border-bottom-width: 1px;
    border-bottom-color: white;
    border-bottom-style: solid;
}

header  nav ul {
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 20px;
}

header a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
}

header a:hover{
    color: #8EDF5F;
    transform: scale(1.05);
}

.inicio{
    color: #ffffff;
}

.flutuante img{
    position: relative;
    animation: flutuante 2s ease-in-out infinite alternate;
}

@keyframes flutuante{
    0%{
        top: 0;
    }

    100%{
        top:30px
    }
}

.texto-inicio {
    h1{
        font-size: 50px;
    }
    h3{
        font-size: 32px;
    }
    p{
        margin-top: 25px;
        font-size: 20px;
    }
}

/* projetos */

section {
    padding: 40px 5%;
}

.titulo{
    text-align: center;
    font-size: 50px;
    margin-bottom: 5%;
    color: #ffffff;
}

.especialidade{
    display: flex;
    flex-direction: column;
    width: 33%;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 40px 4%;
}

.especialidade{
    color: #ffffff;
}

.especialidade i {
   font-size: 80px;
   color: aliceblue;
}

.especialidade h3 {
    font-size: 25px;
}

.portfolio{
    color: #ffffff;
}

/* portifolio */
section.portfolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

.img-port{
    border-radius: 20px;
    width: 360px;
    height: 460px;
    background-color: aquamarine;
    background-size: cover;
    background-position: 100% 0%;
    transition: 5s;
    position: relative;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #050505b6;
    opacity: 0;
    transition: 0.5s;
    
}

.overlay:hover{
    opacity: 1;
}

.img-port:hover{
    background-position: 100% 100%;
}

.stacks {
    background-image: url('assets/background.jpeg');
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;  
    width: 100%;
    height: 100%;
    
}